<!DOCTYPE html>
<html>
<head>
    <title>Manage Users</title>
</head>
<body>

<h2>Manage Users</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form action="/delete-user" method="post">
                <input type="hidden" name="email" th:value="${user.email}">
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>

<br>
<a href="/admin-home">Back to Dashboard</a>

</body>
</html>
