<!DOCTYPE html>
<html>
<head>
    <title>All Bookings</title>
</head>
<body>

<h2>All Parking Bookings</h2>

<table border="1">
    <tr>
        <th>Driver Email</th>
        <th>Location</th>
        <th>Slot</th>
        <th>Date</th>
    </tr>

    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.driverEmail}"></td>
        <td th:text="${booking.location}"></td>
        <td th:text="${booking.slotNumber}"></td>
        <td th:text="${booking.date}"></td>
    </tr>
</table>

</body>
</html>
